In [14]:
import pandas as pd
nba=pd.read_csv("data/nba_2023_2024_ps.csv")

In [15]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Precious Achiuwa,PF-C,24,TOT,53,14,22.5,3.3,6.8,...,2.7,3.9,6.6,1.4,0.6,0.8,1.1,1.9,8.0,achiupr01
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7,achiupr01
2,1,Precious Achiuwa,PF,24,NYK,28,14,26.9,3.5,6.8,...,3.3,4.3,7.6,1.0,0.6,1.1,1.0,2.2,8.3,achiupr01
3,2,Bam Adebayo,C,26,MIA,49,49,34.6,7.7,15.1,...,2.2,8.3,10.5,4.1,1.1,1.0,2.5,2.5,20.3,adebaba01
4,3,Ochai Agbaji,SG,23,TOT,59,10,18.9,2.1,4.8,...,0.7,1.7,2.3,0.9,0.5,0.5,0.7,1.3,5.4,agbajoc01

In [16]:
nba.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,665.000000,679.000000,679.000000,...,611.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000
mean,270.547865,26.159057,31.932253,14.412371,18.053756,2.963770,6.395287,0.446723,0.914138,2.565832,...,0.750183,0.814728,2.384831,3.199116,1.935935,0.560530,0.376878,0.932253,1.480412,8.043888
std,160.892359,4.374238,19.662975,19.574927,10.107631,2.443246,4.954201,0.125746,0.881324,2.230391,...,0.154478,0.788891,1.789149,2.398266,1.850729,0.414028,0.420084,0.763631,0.824612,6.725691
min,1.000000,19.000000,1.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,132.500000,23.000000,13.000000,0.000000,9.500000,1.100000,2.600000,0.398000,0.200000,0.700000,...,0.678000,0.300000,1.000000,1.400000,0.700000,0.200000,0.100000,0.400000,0.900000,2.900000
50%,276.000000,25.000000,35.000000,3.000000,17.200000,2.200000,4.900000,0.448000,0.700000,2.000000,...,0.774000,0.600000,2.000000,2.700000,1.300000,0.500000,0.300000,0.700000,1.400000,6.000000
75%,408.500000,29.000000,50.000000,26.000000,26.850000,4.350000,9.100000,0.500000,1.400000,3.800000,...,0.845500,1.100000,3.300000,4.300000,2.700000,0.800000,0.500000,1.300000,2.100000,11.650000
max,548.000000,39.000000,61.000000,61.000000,37.800000,11.800000,23.600000,1.000000,5.000000,12.200000,...,1.000000,6.000000,9.900000,13.200000,11.400000,2.100000,3.300000,4.300000,4.000000,35.300000